@media only screen and (max-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (max-width:768px) {
    .container {
        max-width: 750px;
        padding: 0 12px;
    }

    header nav {
        justify-content: space-around;
        padding: 28px 0;
    }

    header nav img {
        width: 120px;
        height: 18px;
    }

    header .menu-ul,
    header .menu hr {
        display: none;
    }

    header .menu .icon {
        display: block;
    }

    header .user-name .btn-icon {
        display: block;
        margin-left: 5px;
        margin-right: 20px;
        width: 12px;
        height: 6px;
    }

    .teaching {
        padding-top: 80px;
    }

    .teaching .head {
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .teaching .head .teaching-head h1 {
        font-size: 16px;
        font-weight: 600;
        margin: 0 auto 20px;
    }

    .teaching .head .teaching-head h2 {
        width: 450px;
        font-weight: 900;
        font-size: 50px;
        line-height: 110%;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .teaching .head .teaching-head p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-bottom: 27px;
    }

    .teaching .teaching-head .btn-platform {
        width: 152px;
        height: 41px;
        margin: 0 auto 38px auto;
    }

    .teaching .teaching-head .btn-platform a {
        font-size: 15px;
    }

    .teaching .teaching-head .statistics .img_600 .frame1 {
        width: 150px;
        height: 55px;
    }

    .teaching .statistics .frst-img p {
        margin-left: 20px;
    }

    .teaching .statistics p {
        font-size: 14px;
        line-height: 120%;
    }

    .teaching .statistics .miniGames_image .frame2 {
        width: 80px;
        height: 50px;
    }

    .teaching .teaching-head .statistics hr {
        width: 0px;
        height: 32px;
        margin-top: 18px;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;

    }

    .teaching .head .teaching-img {
        display: flex;
        flex-wrap: wrap;
    }

    .teaching .head .teaching-img img {
        width: 400px;
        height: 400px;
    }

    .tips .learn {
        flex-direction: column;
        text-align: center;
        padding: 55px 0 0 0;
    }

    .tips .learn .learn-img img {
        width: 430px;
        height: 380px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .tips .learn .learn-head h1 {
        width: 400px;
        height: 70px;
        font-size: 38px;
        font-weight: 600;
        margin: 0 auto 25px;
    }

    .tips .learn .learn-head p {
        width: 397px;
        height: 50px;
        font-size: 16px;
        line-height: 120%;
        margin: auto;
    }

    .increase .increase-head {
        flex-direction: column;
    }

    .increase .increase-head .increase-head-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 70px;
        margin: auto;
    }

    .increase .increase-head .increase-head-text h1 {
        width: 100%;
        height: 75px;
        font-size: 38px;
        font-weight: 600;
    }

    .increase .increase-head .increase-head-text p {
        width: 100%;
        font-size: 16px;
        line-height: 120%;
        margin: 0;
    }

    .increase .increase-head .increase-head-text .increase-btn button {
        width: 150px;
        height: 40px;

    }

    .increase .increase-head .increase-head-text .increase-btn a {
        font-size: 15px;
    }

    .increase .increase-head .increase-head-img {
        margin: auto;
        padding-top: 30px;
    }

    .increase .increase-head .increase-head-img img {
        width: 400px;
    }

    .check .check-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .check .check-card .children-img {
        padding: 70px 0 0 0;
        margin: auto;
    }

    .check .check-card .children-img img {
        width: 500px;
        margin-bottom: 25px;
    }

    .check .check-card .check-card-body h1 {
        font-weight: 600;
        font-size: 38px;
        padding-top: 0;
    }

    .check .check-card .check-card-body p {
        font-size: 16px;
        line-height: 120%;
        color: #757575;
        margin: 25px 0;
    }

    .check .check-card .check-card-body {
        padding-bottom: 70px;
    }

    .check .check-card .check-card-body button {
        width: 150px;
        height: 40px;
    }

    .check .check-card .check-card-body button a {
        font-size: 15px;
    }

    footer .bar {
        padding-top: 30px;
    }

    footer nav ul {
        display: none;
    }

    footer nav .dropdown {
        display: block;
    }

    footer .foot {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    footer .foot .icons svg {
        margin: 15px auto;
    }
}

@media only screen and (max-width:480px) {
    .container {
        max-width: 400px;
        margin: auto;
    }

    header nav {
        padding: 8px 0;
    }

    header nav img {
        width: 90px;
        height: 15px;
    }

    header .menu .icon {
        margin-right: 65px;
    }

    header .user-name .a {
        width: 32px;
        height: 30px;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
    }

    header .user-name a .alex {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        margin-left: 8px;
    }

    header .sign .btn-logout {
        display: none;
    }

    header .user-name .btn-icon {
        display: block;
        margin-left: 7px;
        margin-right: 20px;
        width: 6.92px;
        height: 3.46px;
    }

    header .user-name .a {
        margin-left: 40px;
        font-size: 16px;
        width: 32px;
        height: 32px;
        background: #C3DCE3;
        border-radius: 100px;
    }

    header .user-name a .alex {
        margin-left: 4px;
        font-size: 12px;
    }

    header .navAnimation {
        top: 50px;
    }

    header .navAnimation .animation-ul li {
        padding-top: 10px;
        margin-bottom: 30px;
    }

    header .navAnimation .animation-ul li a {
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
    }

    header .navAnimation .animation-ul i {
        font-size: 20px;
        top: 3px;
        right: 3px;
    }

    .teaching {
        padding-top: 20px;
    }

    .teaching .head .teaching-head h1 {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        margin: 10px auto;
    }

    .teaching .head .teaching-head h2 {
        width: 100%;
        height: 20px;
        font-size: 20px;
        font-weight: 400;
        margin: 10px auto;
    }

    .teaching .head .teaching-head p {
        font-size: 12px;
        font-weight: 400;
        width: 100%;
        height: 20px;
        margin: 0 auto 12px;

    }

    .teaching .teaching-head .btn-platform {
        width: 90px;
        height: 35px;
        margin: auto;
    }

    .teaching .teaching-head .btn-platform a {
        font-size: 12px;
        font-weight: 400;
    }

    .teaching .teaching-head .statistics {
        flex-direction: column;
        margin-top: 15px;
        align-items: center;

    }

    .teaching .teaching-head .statistics .img_600 {
        width: 100px;
        margin-bottom: 10px;
    }

    .teaching .teaching-head .statistics .img_600 .frame1 {
        width: 79px;
        height: 20px;

    }

    .teaching .teaching-head .statistics .img_600 p {
        width: 112px;
        height: 22px;
        font-size: 12px;
        text-align: left;
        margin: 0;
    }

    .teaching .teaching-head .statistics .miniGames_image .frame2 {
        width: 43px;
        height: 20px;
    }

    .teaching .teaching-head .statistics hr {
        display: none;
    }

    .teaching .head .teaching-img img {
        width: 278px;
        height: 236px;
        margin-top: 15px;

    }

    .tips .learn {
        padding: 20px 0;
    }

    .tips .learn .learn-img img {
        width: 278px;
        height: 210px;
        margin: 10 auto;
    }

    .tips .learn .learn-head h1 {
        width: 100%;
        height: 40px;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 8px;
    }

    .tips .learn .learn-head p {
        width: 335px;
        height: 20px;
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .tips .learn .learn-head .learn-body-img .sprint {
        width: 80px;
    }

    .tips .learn .learn-head .learn-body-img .audio-call {
        width: 100px;
    }

    .increase .increase-head .increase-head-text {
        padding-top: 20px;
    }

    .increase .increase-head .increase-head-text h1 {
        font-size: 20px;
        width: 100%;
        height: 20px;
        font-weight: 400;
    }

    .increase .increase-head .increase-head-text p {
        width: 100%;
        height: 20px;
        font-size: 12px;
        font-weight: 400;
        margin: 8px 0 8px 0;
    }

    .increase .increase-head .increase-head-text .increase-btn button {
        width: 90px;
        height: 35px;
        margin-bottom: 0;
    }

    .increase .increase-head .increase-head-text .increase-btn a {
        width: 100%;
        height: 0;
        font-size: 12px;
        font-weight: 400;
    }

    .increase .increase-head .increase-head-img img {
        width: 278px;
        height: 210px;
        margin: auto;
        padding-bottom: 20px;
    }

    .check .check-card {
        flex-direction: column;
        text-align: center;
    }

    .check .check-card .children-img {
        padding-top: 20px;
    }

    .check .check-card .children-img img {
        width: 278px;
        height: 210px;
    }

    .check .check-card .check-card-body {
        padding-bottom: 20px;
    }

    .check .check-card .check-card-body h1 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
    }

    .check .check-card .check-card-body p {
        font-size: 12px;
        font-weight: 400;
        margin: 10px 0;
    }

    .check .check-card .check-card-body .btn-check {
        padding-bottom: 0;
    }

    .check .check-card .check-card-body button {
        width: 90px;
        height: 30px;
    }

    .check .check-card .check-card-body button a {
        font-size: 12px;
        font-weight: 400;
    }

    footer .bar {
        padding-top: 20px;
        justify-content: space-evenly;
    }

    footer .foot {
        padding-bottom: 20px;
    }

    footer .foot .copy p {
        font-size: 12px;
        font-weight: 400;
    }

    footer .foot .icons svg {
        margin: 10px auto;
    }

    footer .dropdown button {
        width: 90px;
        font-size: 12px;
    }

    footer .dropdown .dropdown-menu .dropdown-item {
        font-size: 12px;
    }
}